<div class="container section-header">
	<h1>Get in touch</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm">
			{{#if enquirySubmitted}}
			<h3>Thanks for getting in touch.</h3>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group row {{#if validationErrors.name}}has-error{{/if}}">
					<label for="name" class="col-sm-2 col-lg-1 col-form-label">Name</label>
					<div class="col-sm-10 col-lg-5">
						<input id="name" type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
					</div>
					<label for="company" class="col-sm-2 col-lg-1 col-form-label">Company</label>
					<div class="col-sm-10 col-lg-5">
						<input id="company" type="text" name="company" class="form-control" value="{{formData.company}}">
					</div>
				</div>
				<div class="form-group row {{#if validationErrors.email}}has-error{{/if}}">

				</div>
				<div class="form-group row">
					<label for="phone" class="col-sm-2 col-lg-1 col-form-label">Phone</label>
					<div class="col-sm-10 col-lg-5">
						<input id="phone" type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
					</div>
					<label for="email" class="col-sm-2 col-lg-1 col-form-label">Email</label>
					<div class="col-sm-10 col-lg-5">
						<input id="email" type="email" name="email" class="form-control" value="{{formData.email}}">
					</div>
				</div>
				<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
					<label>How can I help?</label>
					<select name="enquiryType" class="form-control">
						<option value="">(select one)</option>
						{{#each enquiryTypes}}
						<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<label>Message</label>
					<textarea name="message" placeholder="Message..." rows="4" class="form-control">{{formData.message}}</textarea>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</form>
			{{/if}}
		</div>
	</div>
</div>
