<section class="mockup-section section-header"
	{{#if data.work.cover}}
		style='{{{imgBackground data.work.cover width=1000 height=700 crop='fit'}}}'
	{{/if}}>
	<div class="container text-center">

		<div class="mockup-container text-center">
			{{# each data.work.images }}
				<div style='{{{imgBackground this width=654 height=409 crop='fit'}}}' class="mockup-screen"></div>
			{{/each}}
			<img src="/images/macbook-pro.svg" class="mockup-macbook" alt="macbook pro computer">
			{{#if data.work.logo}}
				<img src="{{cloudinaryUrl data.work.logo }}" alt="{{data.work.title}}" class="work-logo">
			{{/if}}
			<!-- <img src="/images/macbook-glare.svg" class="mockup-glare" alt="mockup glare"> -->
		</div>
	</div>
</section>

<section class="work-info">
	<div class="container">
		<div class="card-deck">
			<div class="card">
				<div class="card-block">
					<h1>{{data.work.title}}</h1>
					<hr>
					<article title="Work Description" class="work-desc">
						{{{data.work.content.extended}}}
					</article>
					<hr>
					<p><a class="btn-default" href="/works"><i class="fa fa-arrow-left"></i> back to the all works</a></p>
				</div>
			</div>
			<div class="card">
				<div class="card-block">
					<h4>Roles</h4>
					<hr>
					<ul>
						<li>Front End Developer</li>
						<li>Back End Developer</li>
						<li>Technical Consultant</li>
						{{#each data.work.roles}}
							<li>{{name}}</li>
						{{/each}}
					</ul>
					<h4>Technologies</h4>
					<hr>
					<ul class="list-inline">
						{{#each data.work.roles}}
							<li>{{name}}</li>
						{{/each}}
					</ul>
				</div>
			</div>

		</div>
	</div>
</section>
